* {
    margin: 0px;
    padding: 0px;
}

:root {
    --grey: grey;
}



body::before {
    content: "";
    background-color: var(--grey);
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    z-index: 0;
    opacity: 0.8;

    position: absolute;
}

body {
    overflow: hidden;
}

.beforecontent {
    position: absolute;
    font-size: 2rem;
    top: 64vh;
    left: 42vw;
    font-weight: 200;
}

b {
    font-weight: 1000px;
}

.gamecontainer {
    background: url('./bg.png');
    /*background: url('https://static.vecteezy.com/system/resources/previews/000/418/915/original/nature-scene-of-a-park-with-rainbow-vector.jpg');
    */
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.player {
    position: absolute;
    background-image: url('./dino-removebg-preview.png');
   /* background: url('https://png.pngtree.com/element_our/20190529/ourmid/pngtree-cute-animal-dinosaur-illustration-image_1220961.jpg');
   */
   background-repeat: no-repeat;
    /* border: 2px solid red; */
    background-size: cover;
    height: 50vh;
    width: 25vw;
    z-index: 2;
    /* left: 1vw; */
    /* top: 10vh; */
    bottom: 2vh;
}

.dragon {
    position: absolute;
   /* background-image: url('./Dinasour.png');*/
   background-image: url('cactus-removebg-preview.png');
    background-repeat: no-repeat;
    /* border: 2px solid blue; */
    background-size: cover;
    height: 22vh;
    width: 9vw;
    right: -10vw;
    z-index: 2;
    /* top: 10vh; */
    bottom: 0.4vh;
}

.dragon2 {
    position: absolute;
   /* background-image: url('./Dinasour.png');*/
   background-image: url('cactus-removebg-preview.png');
    background-repeat: no-repeat;
    /* border: 2px solid blue; */
    background-size: cover;
    height: 22vh;
    width: 9vw;
    right: -10vw;
    z-index: 2;
    /* top: 10vh; */
    bottom: 0.4vh;
}

.movedragon {
    animation: movedrag 3s linear infinite;
    animation-play-state: paused;
    animation-delay: 2s;
}

.movedragon2 {
    animation: movedrag 3s linear infinite;
    animation-play-state: paused;
    animation-delay: 2s;
}

@keyframes movedrag {
    0% {
        left: 100vw;
    }

    100% {
        left: -10vw;
    }
}

.animatejump {
    /*animation: jump 1.2s;*/
    animation: jump 2s;
}

@keyframes jump {
    0% {
        bottom: 0vh;
    }

    50% {

        bottom: 50vh;
    }

    100% {
        bottom: 0vh;

    }
}

.gameover {
    position: absolute;
    left: 38%;
    top: 8vh;
    /* display: none; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: black;

}

#btn {
    position: absolute;
    top: 42vh;
    left: 42vw;
    height: 16vh;
    width: 17vw;
    background-color: lawngreen;
    border-radius: 10%;
    font-size: 1.5rem;
    transition: all 1s;
    cursor: pointer;
}

#btn:hover {
    transform: scale(1.2);
}

.score {
    position: absolute;
    font-size: 2rem;
    right: 2vw;
    top: 1vh;
}

.losted {
    animation: lost 0.4s linear;
}

@keyframes lost {
    0% {
        /* top: 0px; */
        bottom: 0px;
    }

    50% {
        /* top: 0px; */
        bottom: 310px;
    }

    100% {
        /* top: 0px; */
        bottom: 0px;
    }
}

#btn2 {
    display: none;
    position: absolute;
    top: 42vh;
    left: 42vw;
    height: 16vh;
    width: 17vw;
    background-color: yellow;
    border-radius: 10%;
    font-size: 1.5rem;
    transition: all 1s;
    cursor: pointer;
}

#btn2:hover {
    transform: scale(1.2);
}
